# Module 2: Exercise B

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

## Step 1: Explore Data

Let's import and explore the information "house_price.csv":

In [ ]:
...

>__Task 1__
>
>Generate the first 5 lines, a meta information, and descriptive statistics of the DataFrame

In [ ]:
# Check the first 5 lines of data
...

In [ ]:
# Check meta information about the features
...

In [ ]:
# Check the important statistics of each feature
...

### Visualize Data

>__Task 2__
>
>Create a pairs plot to investigate all available relationships within the data

In [ ]:
...

>__Task 3__
>
>Create a histogram to see the distribution of the __price__ column

In [ ]:
...

We can see the data is right-skewed: maximum price is at the scale of $10^7$.

Let's also visualize the relationship between __sqft_living__ and __price__:

In [ ]:
...

It looks there are some outliers in the data. Let's remove them and try the scatterplot again.

>__Task 4__
>
>- Filter out houses whose `price > 1000000` and `sqft_living > 11000`
>- Plot the same scatter plot with this filtered data set

In [ ]:
...

### Remove Outliers

As shown above, the price outliers will likely distort the linear regression line. Let's go ahead and remove the outlier rows in price.

>__Task 5__
>
>- Find the upper bound, mean, and lower bound of the __price__ column 
>- Create a mask for values less than `q1-3*iqr` and greater than `q3+3*iqr` ("IQR" is interquartile range that equals to "q3âˆ’q1".)
>- Use the mask to filter the rows

In [ ]:
# Find the upper bound, mean, and lower bound
...

In [ ]:
# Create a mask and filter the rows
...

## Step 2: Split Data

>__Task 6__
>
>- Assign the __price__ column to `y` and the rest of the columns to `X`
>- Apply `train_test_split` function with a 80(train):20(test) ratio and set `random_state` to 156
>- Make sure your code generates `X_train`, `X_test`, `y_train`, `y_test` sets

In [ ]:
# Remember to first import the function
...

If we print out `X_train`, we can see a more clear relationship.

In [13]:
X_train

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated
846,3.0,3.25,1860,1787,3.0,0,0,3,1860,0,2007,0
637,4.0,2.75,2450,15002,1.0,0,0,5,2450,0,1974,0
3370,7.0,2.50,1940,5458,2.0,0,0,3,1940,0,1994,0
3167,2.0,1.50,940,1768,2.0,0,0,3,940,0,2009,0
2111,4.0,2.50,1980,5909,2.0,0,0,3,1980,0,2003,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2140,4.0,3.25,2050,5000,2.0,0,0,4,1370,680,1987,0
3917,2.0,1.50,1930,3521,2.0,0,0,3,1930,0,1989,0
1926,3.0,2.50,1780,1487,3.0,0,0,3,1600,180,2006,0
3141,3.0,2.25,1580,39189,1.0,0,0,3,1180,400,1992,0
1465,2.0,2.00,1700,3171,1.0,0,0,5,850,850,1927,0

## Step 3: Develop and Fit the Model

>__Task 7__
>
>- Create a linear regression model and fit to the training set
>- Print the intercept and coefficients of the model

In [ ]:
# Create and fit the model
...

In [ ]:
# Print the parameters of the model
...

## Step 4: Predict Using the Model

Once the model is fit, we can use it to predict the house price in the test set.

>__Task 8__
>
>Predict the house price using test set and print the results with "Predicted house price:"

In [ ]:
...

## Step 5: Evaluate the Accuracy

### Plot Prediction Results

>__Task 9__
>
>Use a scatter plot to illustrate the predicted values against the actual values

In [ ]:
...

### Caculate Evaluation Metrics

>__Task 10__
>
>Find _mean squared error_, _mean absolute error_, and _R-squared_ of the prediction

In [ ]:
...

>__Bonus Task__
>
>What do you think about the performance of the model based on the obtained metrcis?