# Module 2: Exercise A

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

## Step 1: Explore Data

Let's import and explore the information "bodyfat.csv":

In [ ]:
...

>__Task 1__
>
>Generate the first 5 lines, a meta information, and descriptive statistics of the DataFrame

In [ ]:
# Check the first 5 lines of data
...

In [ ]:
# Check meta information about the features
...

In [ ]:
# Check the important statistics of each feature
...

### Visualize Data

>__Task 2__
>
>Create a pairs plot to investigate all available relationships within the data

In [ ]:
...

>__Task 3__
>
>Create a histogram to see the distribution of the __BodyFat__ column (set bins to 30)

In [ ]:
...

Looks like body fat mostly ranges around 20, with low around 0 and high around 40.

>__Task 4__
>
>Check the exact range (min, 10%, 25%, 50%, 75%, 90%, max) of the __BodyFat__ column

In [ ]:
...

Note that the column has at least one datapoint with value 0.

### Remove Outliers

Let's find and print the row(s) with value 0. Do you think it is an outlier? If yes, let's remove it from the dataset.

>__Task 5__
>
>- Find and print the row(s) that contain value 0
>- Do you think it is an outlier? If yes, remove it from the data set

In [ ]:
# Print row(s)
...

In [ ]:
# Remove the outlier
...

## Step 2: Split Data

>__Task 6__
>
>- Assign the __BodyFat__ column to `y` and the rest of the columns to `X`
>- Apply `train_test_split` function with a 80(train):20(test) ratio and set `random_state` to 156
>- Make sure your code generates `X_train`, `X_test`, `y_train`, `y_test` sets

In [ ]:
# Remember to first import the function
...

If we print out `X_train`, we can see a more clear relationship.

In [12]:
X_train

,Density,Age,Weight,Height,Neck,Chest,Abdomen,Hip,Thigh,Knee,Ankle,Biceps,Forearm,Wrist
18,1.0622,28,183.75,67.75,38.0,106.8,89.6,102.4,64.2,38.7,22.9,37.2,30.5,18.5
49,1.0903,47,127.50,66.75,34.0,83.4,70.4,87.2,50.6,34.4,21.9,26.8,25.8,16.8
103,1.0480,49,196.75,73.75,40.7,103.5,95.5,101.6,59.1,39.8,25.4,31.0,30.3,19.7
184,1.0587,40,170.50,74.25,37.7,98.9,90.4,95.5,55.4,38.9,22.4,30.5,28.9,17.7
94,1.0785,47,184.25,74.50,37.3,99.6,88.8,101.4,57.4,39.6,24.6,30.3,27.9,17.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,1.0403,61,178.00,67.00,37.4,105.3,99.7,99.7,60.8,40.1,22.7,33.6,29.0,18.8
230,1.0745,57,147.75,65.75,35.2,99.6,86.4,90.1,53.0,35.0,21.3,31.7,27.3,16.9
162,1.0690,33,184.25,68.75,40.7,98.9,92.1,103.5,64.0,37.3,23.5,33.5,30.6,19.7
205,1.0610,44,208.75,73.00,41.9,105.6,96.3,102.0,63.3,39.8,24.1,37.3,23.1,19.4
44,1.0814,39,125.25,68.00,31.5,85.1,76.0,88.2,50.0,34.7,21.0,26.1,23.1,16.1

## Step 3: Develop and Fit the Model

>__Task 7__
>
>- Create a linear regression model and fit to the training set
>- Print the intercept and coefficients of the model

In [ ]:
# Create and fit the model
...

In [ ]:
# Print the parameters of the model
...

## Step 4: Predict Using the Model

Once the model is fit, we can use it to predict body fat in the test set.

>__Task 8__
>
>Predict body fat using test set and print the results with "Predicted body fat:"

In [ ]:
...

## Step 5: Evaluate the Accuracy

### Plot Prediction Results

>__Task 9__
>
>Use a scatter plot to illustrate the predicted values against the actual values

In [ ]:
...

### Caculate Evaluation Metrics

>__Task 10__
>
>Find _mean squared error_, _mean absolute percentage error_, and _R-squared_ of the prediction

In [ ]:
...

>__Bonus Task__
>
>What do you think about the performance of the model based on the obtained metrcis?